html {
    background-color: rgb(0, 0, 0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Minimal, sans-serif;
    background-color: rgb(18, 18, 18);
    margin: 0px;
    padding: 20px;
    position: relative;
    transition: background-color 0.5s ease 0s;
}

#fact-container {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0s;
}

#refresh {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
}

#refresh:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #fact-container {
        font-size: 18px;
        padding: 10px;
    }

    #refresh {
        bottom: 35px;
        right: 35x;
        width: 50px;
        height: 50px;
    }
}
