html {
    background-color: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Minimal', sans-serif;
    background-color: #121212; /* 25% darker grey background */
    margin: 0;
    padding: 0;
    position: relative;
    transition: background-color 0.5s ease;
}

#fact-container {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #090909; /* even darker background */
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#refresh {
    position: absolute;
    bottom: 20px; /* updated from 30px to 35px */
    right: 35px; /* updated from 35px to 40px */
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#refresh:hover {
    transform: scale(1.1);
}

#language-selector {
    position: absolute;
    bottom: 35px; /* adjust as needed */
    left: 35px; /* adjust as needed */
}

#language {
    font-size: 16px;
    border: 2px solid #fff; /* increase border width from 1px to 2px */
    border-radius: 5px; /* add this line to make the corners rounder */
    background: #333; /* dark grey background */
    color: #fff; /* white text */
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    #fact-container {
        font-size: 18px;
        padding: 10px;
    }

    #refresh {
        bottom: 35px; /* no change */
        right: 40px; /* no change */
        width: 30px;
        height: 30px;
    }
}
